@import 'tailwindcss';
@plugin 'daisyui';

@theme {
    --breakpoint-xs: 350px;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(14% 0 0);
    --color-primary-content: oklch(98% 0 0);
    --color-secondary: oklch(14% 0.005 285.823);
    --color-secondary-content: oklch(98% 0 0);
    --color-accent: oklch(14% 0 0);
    --color-accent-content: oklch(98% 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(14% 0.005 285.823);
    --color-info-content: oklch(98% 0 0);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(14% 0.004 49.25);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: oklch(98% 0 0);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(98% 0 0);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(98% 0 0);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(14% 0.004 49.25);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
